{% extends "base.html" %}
{% block title %} &mdash; Admin Login{% endblock %}

{% block content %}
<div id="form-box">
  <h2>Admin Login</h2>
  {% if error %}
  <p class="msg-err">{{ error }}</p>
  {% endif %}
  <form method="POST" action="{{ url_for('login') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" autofocus>
    </div>
    <button class="btn" type="submit">Login</button>
  </form>
</div>
{% endblock %}
